#game-list-section {
    padding-left: 13vw;
    transition: .4s;
}

@media (width < 1824px) and (width >1240px) {
    #game-list-section {
        padding-left: 70px;
    }
}

@media (width <= 1240px) and (width >608px) {
    #game-list-section {
        padding-left: 70px;
    }
}