.form-modal-container {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 25em;
}

.form-submit-btn,
.form-cancel-btn {
  display: block;
  margin: auto;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 2.5rem;
  margin-bottom: 0.4rem;
  width: 100%;
  cursor: pointer;
}

.form-submit-btn {
  background: #089b1f;
}

.form-submit-btn:hover {
  background: #07871a;
}

.form-cancel-btn {
  background: #827474;
}

.form-cancel-btn:hover {
  background: #635959;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
  text-align: left;
}

@media (width < 420px) {
  .form-modal {
    width: 90%;
  }

  .form-submit-btn {
    height: 10vh;
  }

  .form-cancel-btn {
    height: 10vh;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
    height: 7vh;
  }
}
