.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    margin-top: 10px;
    height: 3rem;
    color: #000;
    cursor: pointer;
    gap: 1vh;
    transition: .4s;
}

@media (width < 1674px){
    #menu-button-text {
        display: none;
    }

    .link {
        padding: 0;
        height: 2rem;
    }
}